 /* FAST project remark.js CSS presentation style */

@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);

body {
  font-family: 'Open Sans', 'Roboto', 'Droid Sans', "Trebuchet MS", Helvetica, sans-serif;

}

.remark-slide-content {
    font-size: 25px;
}

h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
  color: #007dcc;
}

a, a > code {
  color: #84bd00;
  text-decoration: none;
}

.footnote {
  position: absolute;
  bottom: 3em;
  padding-right: 4em;
  font-size: 90%;
}

.remark-code, .remark-inline-code { font-family: 'Source Code Pro', 'Lucida Console', Monaco, monospace; }

.remark-code-line-highlighted     { background-color: #ffff88; }

.inverse {
  background-color: #704f45;
  color: #cccdcd;
  text-shadow: 0 0 20px #333;
}

.inverse h1, .inverse h2, .inverse h3 {
  color: #cccdcd;
  line-height: 1.5em;
}

/* Tile-slide layout */
.title-slide {
  background-image: url(gee-timelapse-explosive-urban-growth-in-fujian-china.gif);
  background-size: 100%;
  background-position: center;
  background-color: #fff;
  color: #007dcc;
  text-shadow: 0px 2px 3px rgba(0,0,0,0.4),
             0px 6px 13px rgba(0,0,0,0.1),
             0px 16px 23px rgba(0,0,0,0.1);
  }

.title-slide h1{
  color: #fff;
  margin-top: -150px;
  text-align: left;
  line-height: 2em;
  font-weight: bold;
}
.title-slide h2 {
  color: #007dcc;
  margin-top: -70px;
  text-align: left;
  line-height: 1.2em;
  font-weight: normal;
}

.title-slide h3 {
  color: #84bd00;
  line-height: 0.9em;
  text-align: left;
  font-weight: normal;
}

.title-slide .remark-slide-number {
  display: none;
}

/* Lists */
li{
  margin: 0.7em 0;
}
